@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #121212;
  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.u-i-header.is-open .u-i-header-background {
  left: 0;
}
.u-i-header-button-wrapper {
  margin-left: auto;
}
.u-i-header-icon {
  display: none;
}

.u-i-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.u-i-navigation-list.is-open {
  right: 0;
}
.u-i-header-icon-menu {
  display: block;
}

.u-i-header-icon-button.is-open .u-i-header-icon-menu {
  display: none;
}

.u-i-header-icon-button.is-open .u-i-header-icon-close {
  display: block;
}

.u-i-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
}

.u-i-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #131313;
}
.u-i-header.is-open .u-i-header-background {
  left: 0;
}
.u-i-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #bcbcbc;
  background: #131313;
  padding: 8px 16px;
}

.u-i-header-icon-menu {
  display: block;
}

.u-i-header-icon-button.is-open .u-i-header-icon-menu {
  display: none;
}

.u-i-header-icon-button.is-open .u-i-header-icon-close {
  display: block;
}

.u-i-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;

  position: relative;
}

.u-i-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 16px;
  gap: 24px;
  background: #131313;
}
.u-i-header-icon-title {
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ececec;
}
.u-i-navigation-list.is-open {
  right: 0;
}

.u-i-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ececec;
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.u-i-navigation-link:hover,
.u-i-navigation-link:focus {
  color: #deff00;
}

.u-i-header.is-open {
  background-color: transparent;
}

.u-i-navigation-img {
  display: none;
}

@media screen and (min-width: 1193px) {
  .u-i-navigation-img {
    display: flex;
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: none;
    color: #ececec;
  }

  .u-i-header-icon-title {
    display: none;
  }
  .u-i-header-button-wrapper {
    display: none;
  }
  .u-i-header {
    width: 1400px;
    height: 83px;
    padding-left: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: #131313;
    border: 1px solid #bcbcbc;
  }

  .u-i-header-background {
  }
  .u-i-header-icon-button {
    display: none;
  }
  .u-i-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .u-i-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .u-i-navigation-link {
    font-family: Space Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-i-navigation-item-desk {
    display: none;
  }
}
.u-i-home {
  width: 375px;
  height: 822px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/hero_section.png");
  margin: auto;
}
.u-i-home-container {
  width: 375px;
  padding: 90px 0 0 16px;
  margin: auto;
}

.u-i-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.u-i-home-title {
  font-family: DM Mono;
  font-weight: 500;
  font-style: Medium;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.u-i-home-text {
  font-family: Roboto;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 24px;
  width: 343px;
}

.u-i-home-link {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #131313;
  text-decoration: none;
  text-align: center;
  background: #ccf281;

  width: 343px;
  padding: 16px 0;
  display: block;
  margin-top: 32px;
  transition: all 0.3s ease-in-out;

  border-radius: 1000px;
}
.u-i-home-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
  padding: 340px 16px 0 0;
}
.u-i-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1193px) {
  .u-i-home {
    width: 1440px;
    height: 900px;
    background-image: url("/img/hero_section\ \(1\).png");
  }
  .u-i-home-container {
    width: 1440px;
    padding: 192px 88px 0px;
  }
  .u-i-home-container-top {
    display: flex;
    flex-direction: column;
  }
  .u-i-home-title {
    font-family: DM Mono;
    font-weight: 500;
    font-style: Medium;
    font-size: 54px;
    leading-trim: NONE;
    line-height: 70px;
    letter-spacing: 0%;
    text-transform: uppercase;
    width: 724px;
  }

  .u-i-home-text {
    font-family: Roboto;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;

    padding-top: 24px;
    width: 440px;
  }

  .u-i-home-link {
    width: 200px;
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .u-i-home-text-two {
    font-family: Roboto;
    font-weight: 400;
    font-style: Italic;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    padding: 178px 0px 0 0;
    width: 447px;
    margin-left: auto;
  }
}

.u-i-about-container {
  width: 375px;

  padding: 60px 16px;
  margin: auto;
}
.u-i-about-title-div {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.u-i-about-title {
  font-family: DM Mono;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.u-i-about-title-text {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ccf281;
}
.u-i-about-div {
  background: #dee1ce;
  margin-top: 40px;
  border-radius: 12px;
  padding: 32px;
  color: #121212;
}
.u-i-about-q {
  font-family: DM Mono;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.u-i-about-list {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 24px;
  align-items: center;
}
.u-i-about-item {
  background: #ccf281;
  width: fit-content;
  border-radius: 8px;
  padding: 10px;
  border-width: 1px;
  font-family: IBM Plex Mono;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}
.u-i-about-divs {
  background: #5555ae;
  border-radius: 12px;
  padding: 32px;
  margin-top: 40px;
}
.u-i-about-lists {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.u-i-about-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff33;
  border: 1px solid #ffffffb2;
  gap: 10px;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 28px;
  padding-left: 10px;
  border-radius: 8px;
  border-width: 1px;
  font-family: IBM Plex Mono;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}
.u-i-about-text-bolds {
  font-family: Space Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
  padding-top: 60px;
}
.u-i-about-divsq {
  color: #121212;
  background: #d3bce5;
  border-radius: 12px;
  padding: 32px;
  margin-top: 40px;
}
.u-i-about-qq {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 32px 150px 0px 0;
}
.u-i-about-l {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.u-i-about-i {
  display: flex;
  align-items: center;
  border: 1px solid #ffffffb2;
  background: #ffffff4d;
  gap: 8px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  border-radius: 50px;
  font-family: IBM Plex Mono;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1193px) {
  .u-i-about-container {
    width: 1440px;
    padding: 100px 88px;
  }

  .u-i-about-title {
    font-family: DM Mono;
    font-weight: 500;
    font-style: Medium;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 64px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .u-i-about-title-text {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .u-i-about-div {
    margin-top: 60px;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    width: 940px;
  }
  .u-i-about-q {
    font-family: DM Mono;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .u-i-about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
    gap: 34px;
    row-gap: 24px;
    align-items: center;
    width: 657px;
  }
  .u-i-about-item {
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    font-family: IBM Plex Mono;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .u-i-about-divs {
    background: #5555ae;
    border-radius: 12px;
    padding: 32px;
    margin-top: 40px;
    margin-left: auto;
    width: 940px;
    display: flex;
    justify-content: space-between;
  }
  .u-i-about-lists {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .u-i-about-items {
    width: 217.66665649414062px;
    height: 122px;
    gap: 10px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    border-radius: 8px;
    border-width: 1px;
    font-family: IBM Plex Mono;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-i-about-divsq {
    color: #121212;
    background: #d3bce5;
    border-radius: 12px;
    padding: 32px;
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .u-i-about-qq {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 0px 24px 0 0;
  }
  .u-i-about-divsqw {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 636px;
  }
  .u-i-about-l {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
  }
  .u-i-about-i {
    display: flex;
    align-items: center;
    border: 1px solid #ffffffb2;
    background: #ffffff4d;
    gap: 8px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 50px;
    font-family: IBM Plex Mono;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.u-i-why {
  background: #1a191a;
}
.u-i-why-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.u-i-why-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.u-i-why-item {
  display: flex;
  align-items: start;
  gap: 20px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

.u-i-why-lists {
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  gap: 24px;
  padding-top: 60px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  font-family: IBM Plex Mono;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}
.comment {
  color: #8b8b8b;
  display: flex;
}
.pink {
  color: #df3079;
}
.red {
  color: #cf2937;
}
.green {
  color: #00a67d;
}
.cyan {
  color: #d4d4d4;
}
.white {
  color: #d4d4d4;
}

@media screen and (min-width: 1193px) {
  .u-i-why-container {
    width: 1440px;
    padding: 100px 88px;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
  .u-i-why-list {
    width: 612px;
  }
  .u-i-why-item {
    display: flex;
    gap: 12px;
    align-items: center;
    align-items: start;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .u-i-why-lists {
    width: 616px;
    padding-top: 60px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    font-family: IBM Plex Mono;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.u-i-uniqueness {
  width: 375px;
  margin: auto;
  height: 1060px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Code\ Kits_sectiom.png");
}
.u-i-uniqueness-container {
  margin: auto;
  width: 375px;

  padding: 60px 16px;
}
.use-case-table {
  margin-top: 40px;
  border-collapse: collapse;
  table-layout: fixed;
}

.use-case-table th,
.use-case-table td {
  overflow: hidden;
}

.use-case-header {
  background: #5555ae;
  height: 84px;
  padding-top: 20px;
  padding-right: 12px;
  padding-bottom: 20px;
  padding-left: 12px;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

.use-case {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  width: 126px;
  height: 120px;
  padding: 12px;
  color: #ffffffcc !important;
}
.use-case-table-tr-class {
  border-bottom: 1px solid #7a7a7a80;
}
.included-tools {
  width: 126px;
  height: 120px;
  padding: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.human-review {
  width: 91px;

  gap: 10px;
  padding: 12px;
}

.included-tools-img {
  width: 24px;
  margin: auto 55px 0 12px;
}
.u-i-home-link-ini {
  border: 1px solid #deff00;
  padding-top: 20px;

  padding-bottom: 20px;

  border-width: 1px;
  border-radius: 8px;
  background-color: transparent;
  color: #deff00;
}
@media screen and (min-width: 1193px) {
  .u-i-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 20px;
  }
  .use-case-table {
    margin-top: 60px;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .use-case-table th,
  .use-case-table td {
    overflow: hidden;
    vertical-align: top;
  }

  .use-case-header {
    width: 466.6666564941406px;
    height: 52px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
  }

  .use-case {
    width: 466.6666564941406px;
    height: 80px;

    padding: 30px 24px;
  }

  .included-tools {
    width: 466.6666564941406px;
    height: 80px;

    padding: 28px 24px;
  }

  .human-review {
    width: 466.6666564941406px;
    height: 80px;

    padding: 28px 24px;
  }

  .included-tools-img {
    width: 25px;
    margin: auto;
  }
  .u-i-home-link-ini {
    width: fit-content;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    margin-top: 60px;
    margin-left: auto;
  }
}
.u-i-how {
  background: #131313;
}
.u-i-how-container {
  margin: auto;
  background: #131313;

  width: 375px;
  padding: 80px 16px;
}
.u-i-how-text-bold {
  font-family: Space Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-top: 60px;
}

.u-i-how-text {
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  padding-top: 60px;
}
.u-i-how-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.u-i-how-item {
  display: flex;
  align-items: center;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border: 1px solid #bcbcbc;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  gap: 8px;
}
.u-i-how-itemsp {
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #747474;
  text-transform: none;
}
.u-i-how-img {
  width: 24px;
}

@media screen and (min-width: 1193px) {
  .u-i-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 20px;
  }
  .u-i-how-text-bold {
    font-family: Space Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-i-how-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .u-i-how-item {
    width: 453.3333435058594px;
    height: 74px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    gap: 8px;
    border-width: 1px;
  }
  .u-i-how-itemsp {
    font-family: Space Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color: #747474;
    text-transform: none;
  }
}

.u-i-characters {
  background: #ececec;
}
.u-i-characters-container {
  padding: 80px 16px;
  margin: auto;
  width: 375px;
  background: #ececec;
  color: #131313;
}
.u-i-characters-text {
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  padding-top: 60px;
}
.u-i-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 24px;
}
.u-i-characters-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #002a34;
}
.u-i-characters-img {
  width: 343px;

  height: 432.6666564941406px;
  object-fit: cover;
  object-position: center;
}

.u-i-characters-text-bold {
  font-family: Space Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #002a34;
  width: 343px;
  padding-top: 72.5px;
}

@media screen and (min-width: 1193px) {
  .u-i-characters-container {
    padding: 100px 20px;
    margin: auto;
    width: 1440px;
  }

  .u-i-characters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    gap: 24px;
  }
  .u-i-characters-item {
    width: 688px;
    height: 500.6666564941406px;
    gap: 16px;
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .u-i-characters-img {
    width: 688px;
    height: 458.6666564941406px;
  }

  .u-i-characters-text-bold {
    font-family: Space Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    width: 688px;
    height: 502px;
    padding-top: 241px;
  }
}

.u-i-reviews {
  background: #131313;
}
.u-i-reviews-container {
  margin: auto;
  padding: 80px 16px;
  width: 375px;
  background: #131313;
}
.u-i-reviews-list {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.u-i-reviews-item {
  display: flex;
  align-items: end;
  gap: 16px;
}

.u-i-reviews-img {
  width: 45px;
}
.u-i-reviews-text-bold {
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  width: 282px;
  padding: 24px;
  border-radius: 8px;
  background: #2e2e2e;
}

@media screen and (min-width: 1193px) {
  .u-i-reviews-container {
    margin: auto;
    padding: 100px 20px;
    width: 1440px;
  }
  .u-i-reviews-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .u-i-reviews-item {
    width: 690px;
    height: 110px;
  }

  .u-i-reviews-text-bold {
    width: 629px;
    height: 110px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    border-radius: 8px;
    font-family: Space Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;
  }
}

.u-i-faq {
  background: #131313;
}
.u-i-faq-container {
  padding: 80px 16px;
  width: 375px;
  margin: auto;
  background: #131313;
}
.u-i-faq-div {
  border: 1px solid #bcbcbc;
  margin-top: 60px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
}
.u-i-faq-text {
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #deff00;
}
.u-i-faq-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: disc;
  margin-left: 20px;
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #747474;
}
.u-i-faq-texts {
  display: flex;
  flex-direction: column;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 16px;
}
.u-i-faq-textss {
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.u-i-home-link-faq {
  width: 295px;
}
@media screen and (min-width: 1193px) {
  .u-i-faq-container {
    padding: 100px 20px;
    width: 1440px;
    margin: auto;
  }
  .u-i-faq-div {
    border: 1px solid #bcbcbc;
    margin: 60px 468px 0;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
  }

  .u-i-home-link-faq {
    width: 295px;
    margin: 24px auto 0;
    width: 416px;
  }
}

.u-i-features {
  background: #deff00;
}

.u-i-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
  background: #deff00;
  color: #131313;
}

.u-i-features-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 60px;
}
.u-i-features-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Space Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.u-i-features-item-two {
  text-decoration: none;
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #131313;
  text-transform: none;
}

@media screen and (min-width: 1193px) {
  .u-i-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 20px;
  }

  .u-i-features-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 60px;
  }
  .u-i-features-item {
    width: 320px;
    height: 48px;
    gap: 8px;
  }
  .u-i-features-item-two {
    text-decoration: none;
    font-family: Space Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color: #131313;
    text-transform: none;
  }
}

.u-i-container {
  padding: 92px 16px 100px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 2%;
}

.u-i-container h1 {
  font-family: DM Mono;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  margin-bottom: 16px;
}

.u-i-container h2 {
  margin-bottom: 16px;
  margin-top: 16px;

  font-family: Barlow Condensed;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.u-i-container h3 {
  margin-bottom: 16px;
  margin-top: 16px;

  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 2%;
}

.u-i-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.u-i-container ul li {
  margin-bottom: 10px;
}
.u-i-container p {
  margin-top: 16px;
}
.u-i-container a {
  color: inherit;
  color: #3b82f6;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.u-i-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1193px) {
  .u-i-container {
    padding: 168px 212px 100px;
    width: 1440px;
    margin: auto;

    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 2%;
  }

  .u-i-container h1 {
    font-family: DM Mono;
    font-weight: 500;
    font-style: Medium;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 64px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .u-i-container h2 {
    font-family: Barlow Condensed;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 4%;
    text-transform: uppercase;
  }

  .u-i-container h3 {
    margin-bottom: 16px;
    margin-top: 16px;

    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 2%;
  }
}

.u-i-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: #1e1e1e;
}

.u-i-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #ffffffcc;
}

.u-i-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.u-i-footer-copyright {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 2%;
  text-align: center;
}

@media screen and (min-width: 1193px) {
  .u-i-footer-container {
    width: 1440px;
    padding: 60px 108px;
    display: flex;

    align-items: stretch;
    gap: 60px;
  }

  .u-i-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 74px;
  }
  .u-i-footer-text {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-i-footer-copyright {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.u-i-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 24px 16px;
  background: #ececec;

  z-index: 1000;
  display: none;
}

.u-i-cookie-popup-text-two {
  font-family: Space Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #131313;
}

.u-i-cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.u-i-cookie-button {
  border: 1px solid #131313;
  background-color: transparent;
  width: 167.5px;

  padding: 16px 0;
  border-radius: 4px;
  font-family: Space Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

#accept-cookies {
  background: #131313;
  color: #ececec;
}

.u-i-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1193px) {
  .u-i-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 133px;
  }

  .u-i-cookie-popup-text-two {
    font-family: Space Mono;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;

    width: 837px;
  }

  .u-i-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .u-i-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
